@import "tailwindcss";

@theme inline {
  --font-inter: var(--font-inter);
  --font-brico: var(--font-bricolage-grotesque);
  --color-*: initial;
  /* shale */
  --color-brand-primary: #114036;
  /* malachite */
  --color-brand-secondary: #16af8e;
  /* citrine */
  --color-accent: #f9b73f;
  /* basalt (black) */
  --color-black: #191919;
  /* gypsum */
  --color-surface: #f9f3d9;
  /*  */
}
